body {
	font-family: 'Lato', sans-serif;
	color: #2d3c49;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

img {
	max-width: 100%;
}

h1 {
	text-transform: uppercase;
	font-weight: 100;
	font-size: 32pt;
}

h2 {
	font-weight: 300;
	color: #7d97ad;
}

h3 {
	color: #2d3c49;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 24pt;
}

h4 {
	text-transform: uppercase;
	font-weight: 100;
}

/* Header Styling */

.header {
	display: flex;
	border-bottom: 2px solid #7d97ad;
}

.logo {
	width: 50%;
}

.logo img {
	max-width: 100%;
	max-height: 100px;
}

.name-and-title {
	width: 50%;
	text-align: right;
}

/* Splash Styling */

.splash {
	margin-top: 1.5em;
}

/* Carousel Styling */

.carousel {
	display: flex;
	flex-wrap: wrap;
	position: center;
}

.tile {
	width: 250px;
	text-align: center;
	position: center;
	margin-right: auto;
	margin-left: auto;
}

.tile a {
	color: black;
	text-decoration: none;
}

/* Media Queries */

@media only screen and (max-width: 300px) {
	.logo {
		display: none;
	}
}

@media only screen and (min-width: 301px) {
	.logo {
		display: block;
	}
}